# Compiled python files
*.py[oc]

# gedit files
*~

# Special dirs and files
build/
dist/
Thumbs.db
.DS_Store/
spyder_crash.log
.DS_Store
.spyderproject
.idea/
.cache
.coverage
*.egg-info/

# JavaScript-related files
spyder_notebook/server/**/node_modules/
spyder_notebook/server/packages/*/lib/
spyder_notebook/server/schemas/
spyder_notebook/server/static/
tsconfig.tsbuildinfo

# yarn >=2.x local files
spyder_notebook/server/.yarn/*
spyder_notebook/server/.pnp.*

# git .orig files
*.orig
