include CHANGELOG.md
include LICENSE
include README.md
include runtests.py
recursive-include spyder_notebook/images *.svg
recursive-include spyder_notebook/locale *.mo
recursive-include spyder_notebook/utils/templates *.html
recursive-include spyder_notebook/server *.css *.html
recursive-include spyder_notebook/server/build *.js *.eot *.woff *.woff2 *.svg *.ttf
prune spyder_notebook/server/node_modules
